project:
  create: true
  name: gepaplexx

applications:
################## RESOURCE LOCKER OPERATOR ###################
  resourceLocker:
    name: resource-locker-operator
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-resource-locker
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

################## SEALED SECRETS OPERATOR ####################
  sealedSecretsOperator:
    name: sealed-secrets-operator
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: false
    source:
      chart: sealed-secrets
      repoURL: https://bitnami-labs.github.io/sealed-secrets
      targetRevision: 2.*
      helm:
        parameters:
          - name: containerSecurityContext.enabled
            value: 'false'
          - name: podSecurityContext.enabled
            value: 'false'
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

###################### IDENTITY PROVIDER ######################
  identityProvider:
    name: identity-provider
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-identity-provider
      targetRevision: "*"
      helm:
        parameters:
        - name: "google.clientSecret"
          value: "${GOOGLE_CLIENTSECRET}"
        - name: "google.clientId"
          value: "${GOOGLE_CLIENTID}"
        - name: "google.restrDomain"
          value: "${GOOGLE_RESTRDOMAIN}"
        - name: "google.enable"
          value: "${GOOGLE_ENABLE}"
        - name: "git.clientSecret"
          value: "${GIT_CLIENTSECRET}"
        - name: "git.clientId"
          value: "${GIT_CLIENTID}"
        - name: "git.restrOrgs"
          value: "${GIT_RESTRORGS}"
        - name: "git.enable"
          value: "${GIT_ENABLE}"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

###################### OAUTH GROUP SYNC  ######################
  oauthGroupSync:
    name: oauth-group-sync
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-oauth-group-sync
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

####################### CLUSTER-CONFIG ########################
  clusterConfig:
    name: cluster-config
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-config
      targetRevision: "*"
      helm:
        parameters:
          - name: "alertmanager.config"
            value: "${ENCRYPTED_YAML}"
#          - name: "argocd.infranodes.enabled"
#            value: "true"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

####################### CLUSTER-UPDATER #######################
  clusterUpdater:
    name: cluster-updater
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-updater
      targetRevision: "*"
      helm:
        parameters:
        - name: "clustername"
          value: "${ENV}"
        - name: "consoleUrl"
          value: "${CONSOLE_URL}"
        - name: "slack.channel"
          value: "${SLACK_B64}"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

########################### VELERO ############################
  velero:
    name: velero
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: velero
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-velero
      targetRevision: "*"
      helm:
        parameters:
          - name: "configuration.backupStorageLocation.bucket"
            value: "steppe.gepaplexx.com"
          - name: "configuration.backupStorageLocation.config.region"
            value: "minio"
          - name: "configuration.backupStorageLocation.config.s3Url"
            value: "http://10.20.26.100:9000"
          - name: "credentials.sealedSecretContent"
            value: "AgCmA0iGHQNR+e/uylCE6s1RJkcFi2a1mAjzn0VAnf2LXxq9vZBvfuTkadS2/TVJX22FzGSW57x6/GQSkinPqs0ke0urNaIM5/ySvkvnKaZMZJxl2CdAp20mAWH3sqws8i67kaSrZYY6Y6W4YI0d5bzLYf/bw9x1T3TryvvVOXAeS0y1w42i0HfEKUcsftYIOgp2abLhL5RgOKxECTT1w8w2soUX2sfIN8mpGLy/o6/5gvUo7IOFnBIcORw1nAh5Co8tVmFWYQBH77+vlQSoCr4d1cqKevHrs7xP22KbN6bNUgjLmNfcCUh34RQX6YhJbBZquoVix7IuQROmXpBQhBNp/wOajcD+JkfTgIstR0KY6Fo3GfRxbB9rVyClDhbkaW/LmHl2ljX1gyb99UFYJxq7mCj6zH5ztmURYlw3zWm3wE7zWm2Nt3wWKlo66WHSDGOBuhb/fcR9rjS1GXDVWja5e8PUdC0yITgbsVGv5apkb6+/tQiPr3rXESUAd1CWwraOs4YaPd0P7WQie42bgiD1J6uDbhh/BLReAd5/W9zA3gOvDrPLFqLY1qYV8h58vPciBc9tMQ9dkoyd/DhFPVg9/wjw0X81g9WN/xsmEWNMHNZQ9/489mYkBjRf9lnzrwc1iQmGEYQ/G+adoH3KlrfOHR3uWPdNdHz+Ba3qJ9eFXHBZtZO014+CrLvgAxYupozauWf/omi3jq6fRPoblhxleuJWUkxZupFUwGc4gDKmyU05NNLgu0ErSyhVxifE5M9I96CJ5kqpt822+XOldOG10ZH/xSUyXDZJuFg4fHI8ZAueZDsZ+tDm52R2d9oaIN2uMZD5WP55CKYfKFh5dz3D"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

########################## ROOK/CEPH OPERATOR ##########################
  rookCephOperator:
    name: rook-ceph-operator
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: rook-ceph
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-rook-ceph-operator
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

########################## ROOK/CEPH INSTANCE ##########################
  rookCephInstance:
    name: rook-ceph-instance
    enabled: ${ENABLE_ROOK_CEPH}
    argoProject: gepaplexx
    destination:
      namespace: rook-ceph
      create: false
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-storage-cephcluster
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

################### CLUSTER-LOGGING OPERATOR ##########################
  clusterLoggingOperator:
    name: cluster-logging-operator
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-logging
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-operator
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

####################### CLUSTER-LOGGING #######################
  clusterLogging:
    name: cluster-logging-instance
    enabled: ${ENABLE_CLUSTER_LOGGING}
    destination:
      namespace: openshift-logging
      create: true
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-instance
      targetRevision: "*"
      helm:
        parameters:
#        - name: "infranodes.enabled"
#          value: "true"
        - name: "elasticsearch.nodeCount"
          value: "2"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true


####################### CLUSTER-LOGGING-EVENTROUTER #######################
  clusterLoggingEventrouter:
    name: cluster-logging-eventrouter
    enabled: true
    destination:
      namespace: openshift-logging
      create: true
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-eventrouter
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### CLUSTER-MONITORING ######################
  clusterMonitoring:
    name: cluster-monitoring
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-monitoring
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-monitoring-config
      targetRevision: "*"
      helm:
        parameters:
#        - name: "infranodes.enabled"
#          value: "true"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### OPENSHIFT PIPELINES OPERATOR ######################
  openshiftPipelinesOperator:
    name: openshift-pipelines-operator
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-gitops
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-tekton-operator
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### OPENSHIFT IMAGE REGISTRY ######################
  internalRegistry:
    name: openshift-registry
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-ocp-internal-registry
      targetRevision: "*"
#      helm:
#        parameters:
#        - name: "infranodes.enabled"
#          value: "true"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### IMAGE REGISTRY CACHE ######################
  internalRegistryMirror:
    name: openshift-registry-mirror
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-pull-through-cache
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### CERT-MANAGER ######################
  certManager:
    name: cert-manager
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: cert-manager
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cert-manager
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### CERTIFICATES-PATCHES ######################
  certificatesPatches:
    name: certificate-patches
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-certificates-patches
      targetRevision: "*"
      helm:
        parameters:
        - name: "apiserver.customApiUrl"
          value: "${APISERVER_CUSTOMURL}"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### CLUSTER-ISSUER ######################
  clusterIssuer:
    name: cluster-issuer
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: cert-manager
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-issuer
      targetRevision: "*"
      helm:
        parameters:
        - name: "solvers.dnsZones[0]"
          value: "${SOLVERS_DNS_ZONE}"
        - name: "solvers.accessKeyId"
          value: "${SOLVERS_ACCESSKEYID}"
        - name: "solvers.secretName"
          value: "${SOLVERS_SECRETNAME}"
        - name: "solvers.secretAccessKey"
          value: "${SOLVERS_SECRETACCESSKEY}"
        - name: "certificates.defaultIngress"
          value: "${CERTIFICATES_DEFAULTINGRESS}"
        - name: "certificates.console"
          value: "${CERTIFICATES_CONSOLE}"
        - name: "certificates.api"
          value: "${CERTIFICATES_API}"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### CONSOLE-PATCHES ######################
  consolePatches:
    name: console-patches
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-console-patches
      targetRevision: "*"
      helm:
        parameters:
        - name: "route.nameOverride"
          value: "true"
        - name: "route.hostname"
          value: "${ROUTE_HOSTNAME}"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### GEPAPLEXX-CICD-TOOLS ######################
  gepaplexx-cicd-tools:
    name: gepaplexx-cicd-tools
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-tools
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cicd-tools
      targetRevision: "*"
      helm:
        parameters:
        - name: "argocd.route.hostname"
          value: "${GEPAPLEXX_CICD_TOOLS_ARGOCD_ROUTE_HOSTNAME}"
        - name: "argo_workflows.ingress.hostname"
          value: "${GEPAPLEXX_CICD_TOOLS_WORKFLOWS_ROUTE_HOSTNAME}"
        - name: "argo_rollouts.dashboard.ingress.hosts[0]"
          value: "${GEPAPLEXX_CICD_TOOLS_ROLLOUTS_ROUTE_HOSTNAME}"
        - name: "argo_rollouts.dashboard.ingress.tls[0].hosts[0]"
          value: "${GEPAPLEXX_CICD_TOOLS_ROLLOUTS_ROUTE_HOSTNAME}"
        - name: "argo_rollouts.dashboard.ingress.tls[0].secretName"
          value: "${GEPAPLEXX_CICD_TOOLS_ROLLOUTS_ROUTE_HOSTNAME}"
        # Access to gepaplexx/gepaplexx-cicd repository!
        - name: "argocd.workflowrepository.username"
          value: "${GITHUB_CICD_TOOLS_WORFKLOWREPOSITORY_USERNAME}"
        - name: "argocd.workflowrepository.sshPrivateKey"
          value: "${GITHUB_CICD_TOOLS_WORFKLOWREPOSITORY_SSHPRIVATEKEY}"
        - name: "argocd.workflowrepository.enabled"
          value: "${GITHUB_CICD_TOOLS_WORKFLOWREPOSITORY_ENABLED}"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### GEPAPLEXX-CICD-ARGO-EVENTS ######################
  gepaplexx-cicd-argo-events:
    name: gp-cicd-argo-events
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-tools
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cicd-argo-events
      targetRevision: "*"
      helm:
        skipCrds: true
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### GEPAPLEXX-CICD-EVENTBUS ######################
  gepaplexx-cicd-eventbus:
    name: gepaplexx-cicd-eventbus
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-eventbus
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gepaplexx-cicd-eventbus
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### GEPAPLEXX-CICD ######################
  gepaplexx-cicd:
    name: gepaplexx-cicd
    enabled: true
    argoProject: gepaplexx-cicd
    destination:
      namespace: openshift-gitops
      create: false
    source:
      repoURL: "git@github.com:gepaplexx/gepaplexx-cicd.git"
      targetRevision: "main"
      path: "clusters/${ENV}/applications"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true