apiVersion: v1
kind: Secret
metadata:
  name: workflow-repository
  namespace: gepaplexx-cicd-tools
data:
  username: "${GITHUB_CICD_TOOLS_WORFKLOWREPOSITORY_USERNAME}"
  sshPrivateKey: "${GITHUB_CICD_TOOLS_WORFKLOWREPOSITORY_SSHPRIVATEKEY}"