apiVersion: v1
kind: Secret
metadata:
  name: postgresql-creds
  namespace: gepaplexx-cicd-tools
data:
  password: "${GEPAPLEXX_CICD_TOOLS_PSQL_PASSWORD}"
  postgres-password: "${GEPAPLEXX_CICD_TOOLS_PSQL_POSTGRES_PASSWORD}"