apiVersion: v1
kind: Secret
metadata:
  name: google-oauth-secret
  namespace: openshift-config
data:
  clientId: "${GOOGLE_CLIENTID}"
  clientSecret: "${GOOGLE_CLIENTSECRET}"
  restrDomain: "${GOOGLE_RESTRICTED_DOMAIN}"